*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 30px;
}

.title{
    margin-top: 5px;
    display: flex;
    color: coral;
    justify-content: center;    
}

.question{
    margin-top: 20px ;
}

.title h2{
    font-size: 50px;
}

.question-title{
    display: flex;
    justify-content: center;
    padding: 5px 0 5px 0;
}

.question-title p{
    margin-bottom: 0;
    text-align: center;
    width: 80%;
    letter-spacing: var(--spacing);
    color: var(--clr--grey-1);
}

.question-btn{
    font-size: 1.5rem;
    background: transparent;
    border-color:transparent;
    cursor: pointer;
    color: purple;
}

.question-text {
    padding: 1rem 0 1.5rem 0;
    border-top: 1px solid black;
}

.question-text p{
    text-align: center;
    justify-content: center;
    color: purple;
}

.question-text{
    display: none;
}

.show-text .question-text{
    display: block;
}

.minus-icon{
    display: none;
}

.show-text .minus-icon{
    display: inline;
}

.show-text .plus-icon{
    display: none;
}


